.Container{
    display: flex;
    flex-direction: column;
}

.Btn {
    margin: 0 auto;
}

.Hangman{
    border: 1px solid green;
    height: 40%;
    width: auto;
}

.Word{
    height: 5%;
    width: auto;
    margin: 0 auto;
}

.Msg {
    direction: rtl;
    color: red;
    padding: 1px;
    text-align: center;
}

.Char{
    border: 1px solid yellow;
    padding: 1px;
    direction: rtl;
}