.Ground {
    border-top: 10px solid black;
    width: 180px;
    height: 5px;
    margin: 0 auto;
}

.Tree {
    border-right: 10px solid black;
    border-top: 10px solid black;
    height: 300px;
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
}

.Rig {
    border-left: 10px solid black;
    height: 50px;
    margin: 0 20%;
}

.Face {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    margin-right: 53px;
}

.Body {
    border-left: 10px solid black;
    height: 100px;
    margin: 0 20%;
    z-index: 999;
}

.Hands {
    z-index: -999;
    position: absolute;
    border: solid black;
    border-width: 0px 3px 3px 0px;
    height: 30px;
    width: 30px;
    display: inline-block;
    padding: 7px;
    margin-right: 53px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.Legs {
    border: solid black;
    border-width: 0px 3px 3px 0px;
    height: 30px;
    width: 30px;
    padding: 7px;
    margin-right: 53px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}